html {
  text-align: center; }

.container {
  width: 900px; }

.row {
  margin-top: 20px; }

.clock-container {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 200px; }

code {
  display: inline-block;
  text-align: left; }

.time-zone {
  margin-top: 30px; }

.mohan-clock {
  position: relative;
  background: #4c2e58;
  height: 500px; }
  .mohan-clock h4 {
    color: white; }
  .mohan-clock *, .mohan-clock :after, .mohan-clock :before {
    box-sizing: border-box; }
  .mohan-clock .pull-left {
    float: left; }
  .mohan-clock .pull-right {
    float: right; }
  .mohan-clock .clearfix:after, .mohan-clock .clearfix:before {
    content: '';
    display: table; }
  .mohan-clock .clearfix:after {
    clear: both;
    display: block; }
  .mohan-clock .time-wrap,
  .mohan-clock .time-wrap .time-base,
  .mohan-clock .time-wrap .time-wheel,
  .mohan-clock .time-wrap .time-clock,
  .mohan-clock .time-wrap .time-wheel:before,
  .mohan-clock .time-wrap .time-wheel:after,
  .mohan-clock .time-wrap .time-clock .indicators,
  .mohan-clock .time-wrap .time-clock .indicators > div,
  .mohan-clock .time-wrap .time-clock .letters,
  .mohan-clock .time-wrap .time-clock .letters > div,
  .mohan-clock .time-wrap .time-clock .arrows,
  .mohan-clock .time-wrap .time-clock .arrows > div {
    top: 50%;
    left: 50%;
    position: absolute; }
  .mohan-clock .time-wrap .time-belt:before,
  .mohan-clock .time-wrap .time-belt:after,
  .mohan-clock .time-wrap .time-wheel:before,
  .mohan-clock .time-wrap .time-wheel:after,
  .mohan-clock .time-wrap .time-clock .indicators:before,
  .mohan-clock .time-wrap .time-clock .letters > div:before,
  .mohan-clock .time-wrap .time-clock .letters > div:after,
  .mohan-clock .time-wrap .time-clock .arrows > div:before,
  .mohan-clock .time-wrap .time-clock .arrows .second:after {
    content: '';
    position: absolute; }
  .mohan-clock .time-wrap {
    width: 380px;
    height: 380px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: -190px;
    background: rgba(0, 0, 0, 0.2);
    animation-duration: .4s; }
  .mohan-clock .time-wrap .time-base {
    width: 180px;
    height: 260px;
    margin-top: -130px;
    background: #dde5eb;
    margin-left: -90px;
    border-radius: 100px / 30px;
    animation-delay: .4s;
    animation-duration: .4s; }
  .mohan-clock .time-wrap .time-belt {
    z-index: 1;
    margin: auto;
    width: 150px;
    height: inherit;
    overflow: hidden;
    position: relative;
    background: #f7af76;
    border-radius: 120px / 30px;
    animation-delay: .6s;
    animation-duration: .6s; }
  .mohan-clock .time-wrap .time-belt:before,
  .mohan-clock .time-wrap .time-belt:after {
    width: 40px;
    height: inherit;
    background: #743a6a; }
  .mohan-clock .time-wrap .time-belt:before {
    left: 0; }
  .mohan-clock .time-wrap .time-belt:after {
    right: 0; }
  .mohan-clock .time-wrap .time-wheel {
    left: auto;
    right: 45px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: #c7d9e3;
    border-radius: 0 10px 10px 0;
    animation-delay: 1.6s;
    animation-duration: .8s; }
  .mohan-clock .time-wrap .time-wheel:before {
    z-index: 1;
    left: 15px;
    width: 6px;
    height: 36px;
    margin-top: -18px;
    background: linear-gradient(to bottom, #ccdbe5, #ccdbe5 50%, #dde5eb 50%, #dde5eb);
    background-position: 0;
    background-size: 100% 4px; }
  .mohan-clock .time-wrap .time-wheel:after {
    right: 4px;
    left: auto;
    width: 14px;
    height: 40px;
    margin-top: -20px;
    background: #dde5eb;
    border-radius: 0 8px 8px 0; }
  .mohan-clock .time-wrap .time-clock {
    z-index: 5;
    width: 240px;
    height: 240px;
    background: #fff;
    border-radius: 50%;
    margin-top: -120px;
    margin-left: -120px;
    border: 10px solid #dde5eb;
    box-shadow: 0 0 0 5px #c7d9e3 inset, -6px 6px 0 0 rgba(0, 0, 0, 0.1);
    animation-delay: 1s;
    animation-duration: .4s; }
  .mohan-clock .time-wrap .time-clock .indicators {
    width: 210px;
    height: 210px;
    margin-top: -105px;
    margin-left: -105px; }
  .mohan-clock .time-wrap .time-clock .indicators:before {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 190px;
    height: 190px;
    background: #fff;
    border-radius: 50%;
    margin-top: -95px;
    margin-left: -95px; }
  .mohan-clock .time-wrap .time-clock .indicators > div,
  .mohan-clock .time-wrap .time-clock .letters > div {
    height: 1px;
    width: 210px;
    margin-top: -0.5px;
    position: absolute;
    margin-left: -105px;
    border: 1px solid #743a6a; }
  .mohan-clock .time-wrap .time-clock .indicators > div:nth-child(2),
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(2) {
    transform: rotate(90deg); }
  .mohan-clock .time-wrap .time-clock .indicators > div:nth-child(3),
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(3) {
    transform: rotate(120deg); }
  .mohan-clock .time-wrap .time-clock .indicators > div:nth-child(4),
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(4) {
    transform: rotate(150deg); }
  .mohan-clock .time-wrap .time-clock .indicators > div:nth-child(5),
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(5) {
    transform: rotate(210deg); }
  .mohan-clock .time-wrap .time-clock .indicators > div:nth-child(6),
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(6) {
    transform: rotate(240deg); }
  .mohan-clock .time-wrap .time-clock .letters {
    z-index: 5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: -100px; }
  .mohan-clock .time-wrap .time-clock .letters > div {
    border: none; }
  .mohan-clock .time-wrap .time-clock .letters > div:before,
  .mohan-clock .time-wrap .time-clock .letters > div:after {
    top: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin-top: -10px;
    text-align: center; }
  .mohan-clock .time-wrap .time-clock .letters > div:before {
    left: 15px; }
  .mohan-clock .time-wrap .time-clock .letters > div:after {
    right: 15px; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(1):before {
    content: '9'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(1):after {
    content: '3'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(2):before,
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(2):after {
    transform: rotate(-90deg); }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(2):before {
    content: '12'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(2):after {
    content: '6'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(3):before,
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(3):after {
    transform: rotate(-120deg); }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(3):before {
    content: '1'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(3):after {
    content: '7'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(4):before,
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(4):after {
    transform: rotate(-150deg); }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(4):before {
    content: '2'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(4):after {
    content: '8'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(5):before,
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(5):after {
    transform: rotate(-210deg); }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(5):before {
    content: '4'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(5):after {
    content: '10'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(6):before,
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(6):after {
    transform: rotate(-240deg); }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(6):before {
    content: '5'; }
  .mohan-clock .time-wrap .time-clock .letters > div:nth-child(6):after {
    content: '11'; }
  .mohan-clock .time-wrap .time-clock .arrows {
    z-index: 5;
    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;
    transform: rotate(90deg) scale(0);
    animation-delay: 2s;
    animation: showArrow .8s forwards; }
  .mohan-clock .time-wrap .time-clock .arrows > div {
    width: inherit;
    margin-left: inherit; }
  .mohan-clock .time-wrap .time-clock .arrows > div:before {
    height: inherit;
    background: #743a6a; }
  .mohan-clock .time-wrap .time-clock .arrows .hour {
    height: 8px;
    margin-top: -4px; }
  .mohan-clock .time-wrap .time-clock .arrows .hour:before {
    left: 40px;
    width: 90px; }
  .mohan-clock .time-wrap .time-clock .arrows .minute {
    height: 5px;
    margin-top: -2.5px; }
  .mohan-clock .time-wrap .time-clock .arrows .minute:before {
    left: 10px;
    width: 120px; }
  .mohan-clock .time-wrap .time-clock .arrows .second {
    height: 2px;
    margin-top: -1px; }
  .mohan-clock .time-wrap .time-clock .arrows .second:before {
    left: 15px;
    width: 115px;
    background: #f7af76; }
  .mohan-clock .time-wrap .time-clock .arrows .second:after {
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: #f7af76;
    border-radius: 50%;
    border: 2px solid #dde5eb; }
@keyframes showArrow {
  0% {
    transform: rotate(90deg) scale(0); }
  100% {
    transform: rotate(90deg) scale(1); } }
input {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  line-height: 60px;
  font-size: 300%;
  font-weight: bold;
  border: 2px solid #999;
  text-align: center; }

.hour-hand .arm:before {
  border: solid black;
  border-width: 0 5px 5px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  content: '';
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  position: relative;
  bottom: 2px;
  right: 4.5px; }
.hour-hand .arm.white:before {
  border-color: white; }

.minute-hand .arm:before {
  border-color: black;
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  content: '';
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  position: relative;
  bottom: 2px;
  right: 5px; }
.minute-hand .arm.white:before {
  border-color: white; }

.second-hand .arm:before {
  border: solid black;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 3px;
  content: '';
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  position: relative;
  bottom: 6px;
  right: 4px; }
.second-hand .arm.white:before {
  border: solid white; }
